.custom-chk{
  position: relative;
  display: inline-flex;
  align-items: center;
  align-content: center;
  input[type=checkbox] {
    width: 2.4rem;
    height: 2.4rem;
    flex: 0 0 2.4rem;
    appearance: none;
    -webkit-appearance: none;
    opacity: 0;
    cursor: pointer;
    & + label {
      padding-left:0.6rem;
      @include fontSize('medium' , 1.2);
      word-break: keep-all;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 2.4rem;
        height: 2.4rem;
        background-color: #fff;
        border: 1px solid $border-c2;
        border-radius:5px;
      }
      em{
        position: absolute;
        top: 50%;
        left:0;
        transform: translateY(-50%) rotate(-50deg);
        &:before, &:after{
          content:'';
          position:absolute;
          background-color:#f00;
        }
        &:before{
          width:2px;
          height:10px;
          top:0; 
          left:0;
        }
        &:after{
          width:20px;
          height:2px;
          top:10px; 
          // left:px;
        }
      }
    }
    &:checked + label {    
      &::before {
        background-color: #0B48BE;
        border:0;
      }
    }
  }
}