$font_c1:#222;
$font_c2:#b715f4;
$font_c3:#006ee0;
$font_c4:#f90094;
$font_c5:#666;

$border-c1:#666;
$border-c2:#999;
$border-c3:#f8f8f8;

$btn-c1:#f90094;
$btn-c2:#fff;
$btn-c3:#495057;
$btn-c4:#bbb;
$btn-bg1:#f90094;
$btn-bg2:#FFF;
$btn-bg3:#495057;
$btn-bg4:#ebebeb;


$media-width1: 320px;
$media-width2: 360px;
$media-width3: 375px;
$media-width4: 414px;
$media-width5: 640px;
$media-width6: 768px;

$headerH:6rem;
$leftM-width:12rem;
$leftM-top:11rem;